body {
  font-family: 'Roboto', sans-serif;
}

.hed {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  background-color: #A9B4C2;
  text-align: right;
}

a:hover {
  color: #666CA3;
}

a {
  text-decoration: none;
  color: black;
}

.about {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.resume {
  margin-top: 3%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

h1.resume {
  color: #666CA3;
}
