body {
  font-family: 'Roboto', sans-serif;
}

.hed {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  background-color: #A9B4C2;
  text-align: right;
}

a:hover {
  color: #03012C;
}

a {
  color: #666CA3;
  text-decoration: none;
}

.about {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.resume, .clips {
  margin-top: 3%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

h1.special-head {
  color: #666CA3;
  font-size: 50px;
}

h1.greeting {
  color: #666CA3;
}

.fa {
    color: #A9B4C2;
    padding: 10px;
    font-size: 40px;
    width: 50px;
    text-decoration: none;
  }

.fa:hover, a.clip:hover {
  color: #666CA3;
}


a.clip {
  color: black;
}

h2.clip-head {
  color: #666CA3;
}

.footer {
  text-align: center;
}
