.font {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #F3EBE2
}

h1 {
    color: #07484B;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #55917F;
    font-weight: bold;
}

.date {
    text-align: right;
    color: #7E8B81;
}

nav{
	text-align: right;
	color: #C17767;
	background-color: #F3EBE2;	
}

/*why nav bar style not changing?*/

h4{
	color: #7E8B81;
	font-weight: bold;
}


h5,
ul{
	color: #7E8B81;
}