body {
    padding-bottom: 25px;
}

.title-banner {
    background-color: #B01C32;
    color: #FDDD0D;
    text-transform: uppercase;
    text-align: center;
    padding: 35px 0 25px 0;
    margin: auto;
}

#adjust {
    font-size: 65px;
}

#bio {
    font-size: 15px;
    text-transform: none;
    color: black;
    font-style: italic;
}

.container {
    padding-top: 10px;
}

.red {
    border-top: 2px solid #B01C32;
}

#google {
    height: 660px;
}

a {
    color: #B01C32;
    text-decoration: underline #FDDD0D;
}

a:hover {
    color: #f2d202;
}

h2,
.title-banner {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1.5px;
}

h2 {
    color: #B01C32;
}

p,
#bio {
    font-family: 'Shippori Mincho', serif;
}

.image,
.twitter-tweet {
    padding-top: 2%;
    padding-bottom: 2%;
}

.caption {
    font-size: 12px;
    margin-top: -1px;
}

@media(max-width: 1024px) {
    #google {
        height: 520px;
    }
}

@media (max-width: 768px) {
    #google {
        height: 530px;
    }
}

@media (max-width: 576px) {
    #adjust {
        font-size: 55px;
    }

    #google {
        height: 350px;
    }
}