.title-banner {
    background-color: #B01C32;
    color: #FDDD0D;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    text-align: center;
    margin: auto;
}

#adjust {
    font-size: 65px;
}

#bio {
    font-size: 25px;
    text-transform: none;
}

.container{
    padding-top: 10px;
}


a{
    color: #B01C32;
    text-decoration: underline #FDDD0D;
}

h2,
.title-banner {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1.5px;
}

h2{
    color: #B01C32;
}

p,
#bio {
    font-family: 'Shippori Mincho', serif;
}

.image,
.twitter-tweet {
    padding-top: 2%;
    padding-bottom: 2%;
}

.caption{
    font-size: 12px;
    margin-top: -1;
}

/*how do i get my column to go all the way across the page*/