body {
    background-color: #fc5f1a;
    font-family: "nunito sans", sans-serif;
    font-size: 18px;

}

.custom {
    padding-top: 5%;
}

h1,
h2 {
    font-family: "Anton", sans-seif;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
    color: #010833;
    line-height: 1;
}

.bio {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    font-weight: 500;
    line-height: 1;
    font-style: italic;
}

.adjust {
    font-size: 120px;
}


.graphic {
    margin: 0 auto 0 auto;
    display: block;
}


.box {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.title-box {
    font-size: 70px;
    font-family: "Anton", sans-serif;
    letter-spacing: 2.5px;
    background-color: #010833;
    color: #ffa500;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.description1,
.description3 {
    font-family: "nunito sans", sans-serif;
}

.description2,
.description3 {
    color: #010833;
}

.description1,
.description2,
.description3 {
    text-transform: uppercase;
}

.description1 {
    color: #ffa500;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.description2 {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.description3 {
    font-weight: 200;
    font-size: 16px;
}

.line {
    border-top: 2px;
    border-bottom: 2px;
    color: white;
    width: 25%;
    margin: 0 auto;
}

.footer {
    font-size: 14px;
}

a {
    color: #010833;
    text-decoration: underline #ffa500;
}

@media (max-width: 576px) {
    h1 {
        font-size: 37px;
    }

    .adjust {
        font-size: 85px;
    }

    p {
        font-size: 15px;
        line-height: 1.75;
    }

    .description3 {
        font-size: 15px;
        line-height: 1.5;
    }

}

@media (max-width:768px) {

    .box,
    .title-box {
        padding-left: 2%;
        padding-right: 2%;
    }
}