body{
	background-color: #fc5f1a;

}

h1{
	font-size: 60px;
	font-family: "Anton", sans-seif;
	color: #010833;
	line-height: 1;
	text-align: center;
}

.bio{
	text-align: center;
}

.adjust{
	font-size: 120px;
}

p, ul{
	font-family: "nunito sans", sans-serif;
	font-size: 18px;
	line-height: 1;
}

.box{
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

h2{
	font-family: "Anton", sans-seif;
	text-align: center;
}

.title-box{
	font-size: 70px;
	letter-spacing: 2.5px;
	background-color: #010833;
	color: #fc5f1a;
	font-family: "Anton", sans-seif;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.description1{
	color: #ffa500;
	font-family: "nunito sans", sans-serif;
	font-weight: 500;
	letter-spacing: 1.5px;
	font-size: 18px;
}

.description2{
	color: #010833;
	font-family: "Anton", sans-seif;
	font-size: 30px;
	margin: 0;
	padding: 0;
}

.description3{
	color: #010833;
	font-family: "nunito sans", sans-serif;
	font-weight: 200;
	font-size: 16px;
}

@media (max-width: 576px){
	h1{
		font-size: 37px;
	}
	.adjust{
		font-size: 85px;
	}
	p{
		font-size: 15px;
		line-height: 1.75;
	}
	.description3{
		font-size: 15px;
		line-height: 1.5;
	}
}

